.bg-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#201d1ed0, #24202063), 
    url(../../public/images/782955.jpg);
    background-position-x: center;
    background-size:cover;
    position: fixed;
    z-index: -1;
}

.default-bg-container {
    width: 100%;
    height: 100vh;
    background-color: #212121;
    background-position-x: center;
    background-size: cover;
    position: fixed;
    z-index: -1;
}

.custom-bg-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#201d1ed0, #24202063), 
    url(../../public/images/782959.jpg);
    background-position-x: center;
    background-size:cover;
    position: fixed;
    z-index: -1;
}

.my-post {
    background-color: #292929d2;
    color: white;
    border: 1px solid white;
}
.my-post:hover{
    background-color: #303030;
}

